*{
    padding: 0;
    margin: 3px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100%;
    justify-content: center;
    background-color: #000;
}

canvas {    
    border: rgb(114, 114, 114) 2px solid;
}

.div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.div_head {
    font-size: xx-large;
    width: 512px;
    color: #FFF;
}

.div_titulo {
    height: 75px;
}

.div_pontuacao {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 512px;
    height: 28px;
}

.div_food {
    display: flex;
    justify-content: right;
    width: 512px;
    color: #FFF;
    align-items: center;
}

.inicio-game 
 {
    background-color: #dddddd;
    display:block;
    position: absolute;
    width: 450px;
    height: 200px;
    top:40%;
    margin-top:-100px;
    border: 4px solid #e0e0e0; 
    border-radius: 10px;
}

.btnStart {
    background-color: yellowgreen;  
    border: 1px green;
    border-radius: 10px;  
    width: 100px;
    height: 50px;
    margin-top: 10px;
    font-size: large;
    font-weight: bold;
}

.btnReset {
    background-color: salmon;  
    border: 1px green;
    border-radius: 5px;
    width: 70px;
    padding: 3px;
    font-size: smaller;
    font-weight: bold;
}

#pontuacao_over {
    font-size: small;
    text-align: center;
}

#pontuacao {
  font-size: smaller;
  width: 100px;
}

#tituloInicio {
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}