*{
    padding: 0;
    margin: 3px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background-color: #FFF;
    justify-content: center;
}

canvas {    
    border: #000 2px solid;
}

.div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.div_pontuacao {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 512px;
}

.inicio-game 
 {
    background-color: #dddddd;
    display:block;
    position: absolute;
    width: 450px;
    height: 200px;
    top:40%;
    margin-top:-100px;
    border: 4px solid #e0e0e0; 
    border-radius: 10px;
}

.btnStart {
    background-color: yellowgreen;  
    border: 1px green;
    border-radius: 10px;  
    width: 100px;
    height: 50px;
    margin-top: 10px;
    font-size: large;
    font-weight: bold;
}